*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    outline: none;
}


body{
    background: url(./img/background.png);
}

.container{
    background-color: rgba(0, 0, 0, .65);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    cursor: pointer;
}

.task:hover img{
    opacity: 1;
}

.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
}

.button-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #928f8f;
    color: #FFF;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover{
    background-color: #e8e8e8;
    color: #000;
}

.button-add-task:hover:active{
    opacity: 0.9;
}

.list-tasks{
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1.5px solid black;
    margin-bottom: 20px;
    border-radius: 6px;
}

.done{
    background-color: rgb(55, 191, 250);
    text-decoration: line-through;
}